@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');


:root {
  --bg-clr: white;
  --text-clr: #000000;
  --text-clr-light: white;
  
  --main-clr: #F8F7F7;
  --second-clr: #00A0E6;
  --third-clr: #205065;

  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.278);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html, 
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Ysabeau', sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */



/* In Documents and Projects */
.h_450 {
  height: 450px;
}
.w_450 {
  width: 450px;
  /* min-width: 450px; */
}


/* ---------buttons----------- */
.btn {
  border: none;
  padding: .3rem 1.2rem;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.btn-gray {
  background-color: #E2E8EF;
  color: var(--third-clr);
}
.btn-gray:hover {
  background-color: #cadcf0;
}
.btn-blue {
  background-color: var(--second-clr);
  color: var(--text-clr-light);
}
.btn-blue:hover {
  background-color: #278cb8;
}
.btn-close {
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  padding: .5rem .7rem;
  background-color: transparent;
  border: none;
  font-size: large;
}
.btn-close:hover {
  color: var(--third-clr);
  border-radius: 50%;
  background-color: var(--main-clr);
}
.admin-content .btn-close:hover,
.order-content .btn-close:hover {
  background-color: #E2E8EF;
}




/* ---------filter tables----------- */
table {
  border-collapse: collapse;
  margin-top: 1rem;
  position: absolute;
  background-color: white;
  z-index: 100;
  right: 1rem;
  width: 80%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.257);
  max-width: 700px;
  border-radius: 1rem;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
}
td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td:hover {
  background-color: whitesmoke;
}

/* for small devices */
@media screen and (max-width: 350px) {
  table {
    right: 0;
    left: 0;
    width: 100%;
  }
}
/* for medium devices */
@media screen and (min-width: 568px) {
}
@media screen and (min-width: 750px) {
  table {
    left: 7rem;
    width: 80%;
  }
  .showcase2-table {
    right: 15rem;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  table {
    left: auto;
    right: auto;
  }
  .showcase6-table {
    left: 10rem;
  }
}







/* ---------dropdown----------- */
/* SPARA, KAN INTE I TAILWIND */
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  height: 100%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 11rem;
  z-index: 20;
  top: 2.8rem;
  right: 0;

  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
}
.drop {
  padding-block: 1rem;
}






/* ---------put-order modal----------- */
.order-content {
  background-image: url(./assets/layered-waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  height: 100vh;
  position: fixed;
  z-index: 10000;
  inset: 0;
  padding: 1rem;
  overflow-y: scroll;
}
.order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-title {
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.order-subtitle {
  margin-bottom: 1rem;
}
.order-form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin: 5rem auto 0;
}
.input-group {
  position: relative;
}
.label {
  color: gray;
  font-size: 12px;
  position: absolute;
  top: .5rem;
  left: 1rem;
}
.input-field {
  margin-bottom: 1rem;
  color: #000000;
  padding: 2rem 1rem .8rem;
  text-align: bottom;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  resize: none;
  width: 100%;
}
.input-field:hover {
  box-shadow: var(--box-shadow);
}
.input-field:focus {
  border: 1px solid var(--third-clr);
} 
.order-size-inputs {
  display: flex;
  gap: 1rem;
  width: 400px;
}
.order-size {
  display: flex;
  align-items: center;
  flex: 1;
}
.order-form-right {
  display: flex; 
  flex-direction: column;
}
.order-btn-wrapper {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}





/* for small devices */
@media screen and (max-width: 350px) {
  
}
/* for medium devices */
@media screen and (min-width: 568px) {

}
@media screen and (min-width: 750px) {
  .order-content {
    overflow: hidden;
  }
  .order-form {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }
  .order-form-right {
    margin-top: 6rem;
  }
  .order-form-right,
  .order-form-left {
    width: 400px;
  }
  .order-content {
    background-position: bottom;
  }
}
/* for big devices */
@media screen and (min-width: 1024px) {
  .order-form {
    gap: 5rem;
  }
}




/* 
.d-none {
  display: none;
} */


/* ------------loader------------- */
.loader {
  margin: 10rem 45%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid lightgray;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid var(--second-clr);
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 